body {
	background-color: rgb(255, 255, 255);
	background-image: url("https://cdn.discordapp.com/attachments/606213878019391524/738336835738271815/gay_furry.png");
	background-repeat: repeat;
	margin: 0px 0px;
}

.jedrus {
	width: 100%;
	height: 100%;
}